.biker-zone-light-red{
    background-color: rgba(224, 94, 94, 0.541);
}
.footer-anchor{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.text-app{
    color: aliceblue;
}